body, .gradio-container {
    background-color: #c4d7f1;
}

.button-primary {
    width: auto;           
    min-width: 120px;       
    padding: 8px 20px;       
    margin: 10px auto;       
    text-align: center;    
    background-color: #1976d2;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.button-primary:hover {
    background-color: #1565c0;
}

.width-70{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.interview-column {
    width: 80%;
    margin: auto;
    padding: 10px;
}

.interview-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.interview-question {
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5; /* fondo claro para destacar */
    border-radius: 8px;

    p{
        font-size: 18px;
    }
}

.interview-answer {
    font-size: 16px;
    line-height: 1.5;
    padding: 10px;
    border-radius: 8px;
}

